.TechUsedHeader {
  margin-top: 1rem;
  margin-bottom: 10px;
}

.ListContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 10px;
  max-width: 100%;
  list-style-type: disc;
  padding: 0 10px;
}

.ListItem {
  font-family: monospace;
}