/* =============
  Global Reset
============= */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Karla', sans-serif;
  background-color: #f5f5f5;
  color: #3A3A3A;
  overflow-x: hidden;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.tint {
  background-color: #f8f8f8;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline: none !important;
}

i {
  height: 1rem;
}

img {
  border-radius: 15px;
}

.helpingMarginLR {
  margin: 0 .3rem;
}

.helpingPaddingTB {
  padding: 2rem 1rem 0rem 1rem;
}

.helpingPaddingLeft {
  padding-left: 1rem;
}

.mrgBot {
  margin-bottom: 2rem;
}

.fa-github {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 152, 255, 0.5);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white !important;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.noWrap {
  display: inline-block;
}

.projectTitle {
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
}

.myBox {
  padding: 1rem;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.highlight:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
  margin-bottom: 0;
}

/* ====================
    Dark Mode Styles
===================== */
#btn {
  z-index: 6;
}

.darkText {
  color: rgba(255, 255, 255, 0.92) !important;
}

.darkBG {
  background-color: #17223b !important;
}

.darkText:hover {
  color: rgba(255, 255, 255, 0.92) !important;
}

.pinkText {
  color: #e54242 !important;
  background: green !important;
}

.bannerTextDark {
  background-color: #e54242 !important;
}

.borderMarkerDark::after {
  background-color: #e54242 !important;
}

.hvrSweepToRight::before {
  background-color: #e54242 !important;
}

.darkBGLight {
  background-color: #1f2b46 !important;
}

.logoDark {
  border: 2px solid white !important;
}

.logoDarkLrg {
  padding: .5rem 1rem;
  border: 3px solid #f3f3f3 !important;
}

.darkmodeBGDark {
  background-color: #17223b !important;
  background-color: red !important;
}

/* Bulma Fix for unneeded margin on the last project section */
.columns:not(:last-child) {
  margin-bottom: 0;
}

/* ============= MOBILE 568 ============= */
@media only screen and (max-width: 568px) {
  .introSection {
    padding-top: 5rem;
    min-height: calc(100vh + 5rem);
  }
  .bannerText {
    font-size: 1.4rem;
    padding: .75rem 1.5rem;
  }
  .projectIconRow a i {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerIcons > * {
    margin: .5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */