.timeText {
    margin-bottom: -.5rem !important;
}

.myName {
    margin: .5rem 0;
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.introSection {
    background-image: url("./images/dottedBackground.png");
    height: calc(100vh - 4px);
}

.cheers {
    animation: cheers 3s linear infinite both;
    display: inline-block;
}

.zFix {
    z-index: 0 !important;

    &>* {
        margin-left: 6px !important;
    }
}

.icons>* {
    letter-spacing: 1px;
    padding: .3rem 1rem;
}

.alignment {
    height: calc(100vh - 4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -5rem;
}

.headerParaCont p {
    margin: .3rem 0;
}

@keyframes cheers {
    0% {}

    15% {
        transform: scale(1.25);
    }

    30% {
        transform: rotate(15deg) scale(1.25);
    }

    45% {
        transform: rotate(0deg) scale(1.25);
    }

    60% {
        transform: rotate(-15deg) scale(1.25);
    }

    80% {
        transform: rotate(0deg) scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.arrowBounce {
    position: absolute;
    animation: bounce 2s infinite;
    bottom: .05rem !important;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@media only screen and (max-width: 568px) {

    .myName {
        
        font-size: 2.5rem !important;
        
    }

    .introSection {
        padding-top: 5rem;
        min-height: calc(100vh + 8rem);
    }

    .MainSplashIcons {
        display: flex !important;
        flex-direction: column !important;
    }

}