

/* =====
    buttons
        ===== */


.button-ghost {
    color: var(--color-primary);
    background-color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: .8rem 1.5rem;
    transition: all .2s;
    
    border: 1px solid white;
    border-radius: 15px;
}

.button-ghost:hover {
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
}

.button-solid {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;

    text-decoration: none;
    font-size: 2rem;
    padding: .8rem 1.5rem;
    transition: all .2s;
    
    border: 1px solid white;
    border-radius: 15px;
}

.button-solid:hover {
    background-color: var(--color-primary-darker);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    
}



.buttons-container {
    display: flex;
}

.space-right {
    margin-right: 2.5rem;
}

.button-padding-bottom {
    padding-bottom: 4rem;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fff;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 1rem 2rem;
    font-size: 1.75rem;
    border: 2px solid var(--color-primary);
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-primary);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--color-primary);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}


/* Card Buttons */

.card-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10rem;
    width: 100%;
    color: var(--color-primary);
    text-transform: uppercase;
    margin: 3rem 0 0 0;
}

.card-buy-button {
    font-size: 1.5rem;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 1rem 2rem;
    font-weight: 300;

    transition: all .2s;
}

.card-buy-button:hover {
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}
