article {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    background-image: url('./images/dottedBackground.png');
}

img {
    width: 100%;
    border-radius: 20px;
}

.textContainer {

    & > * {
        padding: 0 0 6px 0;
    }

    & h2 {
        font-family: 'Muli', sans-serif;
        font-size: 1.5rem;
    }
}

.largeGridParent {
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.projectsLargeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
}

.smallGridParent {
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.projectsSmallGrid {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem !important;
}
