.borderMarker {
    position: relative;
    color: #333;
    padding: 4px 8px;    
}
.borderMarker::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 70%;
    left: -0.1px;
    right: -0.1px;
    bottom: 0;
    transition: top .1s ease-in-out;

    // Background color is now defined as a React styled-component in the component itself
    // background-color: rgba(255, 147, 0, 0.5);
}

.borderMarker:hover::after {
    top: 0;
}

.zFix {
    z-index: 0 !important;

    &>* {
        margin-left: 6px !important;
    }
}

