.borderMarker {
    position: relative;
    color: #333;
    padding: 4px 8px;    
}
.borderMarker::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 70%;
    left: -0.1px;
    right: -0.1px;
    bottom: 0;
    transition: top .1s ease-in-out;
    background-color: rgba(255, 147, 0, 0.5);
    // background-color: #AEFFDA;
}

.borderMarker:hover::after {
    top: 0;
}