/* ===================
===== Universal Selectors =====
=================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #167c80;
    --color-primary-lighter: #22c2c8;
    --color-primary-darker: #146e72;
    --color-pricing-pink: #EB5288;
    --color-pricing-gold: #F39C01;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: #333;
    box-sizing: border-box;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    /*
    background-image: linear-gradient(180deg, #fff, #fff 95%, #333 0);
    */
}

img {
    width: auto;
}

button {
    background-color: transparent;
}

::selection {
    background-color: var(--color-primary);
    color: white;
}

li {
    list-style-type: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

/* =====
    Navigation
        ===== */

.navbar {
    display: flex;
    padding: 1.5rem 2.5rem;
    background-color: rgba(22, 124, 128, .8);
    color: white;
    font-size: 1.5rem;
    animation-name: navbar-slide;
    animation-duration: 1.1s;

    position: fixed;
    width: 100%;
    
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);

    z-index: 2;
}

.navbar a, .navbar a:link, .navbar a:visited {
    color: #FFFAFA;
    text-decoration: none;
}

.nav-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: .25rem;
    margin-right: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
}

.nav-links a:visited {
    color: white;
}

.nav-links-ul {
    display: flex;
    list-style: none;
}

.nav-links-ul a:visited {
    color: white;
}

.nav-links-ul li {
    border-bottom: 1px solid transparent;
    margin: 0 1rem;
    transition: all .2s;
    cursor: pointer;
    font-size: 1.7rem;
}

.nav-socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia-icons {
    color: white;
    margin-top: -1px;
    padding: 0 6px;
    font-size: 3rem;
}

.socialmedia-icons:hover {
    cursor: pointer;
}



/* =====
     Main Sections
             ===== */
             
       
  
.section-container {
    width: 50%;
    margin: 0 auto;
}

.primary-header {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

span {
    font-size: 3rem;
    font-weight: 400;
}

.section-container:nth-of-type(1) {
    padding-top: 15rem;
}

p {
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 3rem;
}

.full-container {
    margin: 0 auto;
}

.blackwhite {
    background-color: rgba(51, 51, 51, .9);
    color: white;
    margin-top: 10rem;
}

.blackwhite p:last-of-type {
    padding-bottom: 10rem;
    margin-bottom: -2rem;
}

.text-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 10rem;
}

.secondary-header {
    margin-top: 4rem;
    font-size: 2rem;
}

